# Ignore the node_modules and test results directory
node_modules/
allure-results/
allure-report/
playwright-report/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# Ignore image files
*.png
*.jpg
*.jpeg

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
